fastapi
uvicorn
sqlalchemy
asyncpg
pydantic[email]
pydantic-settings
httpx
tenacity
PyJWT
firebase-admin
supabase
python-multipart
python-dotenv
psycopg2-binary
gitpython
sentry-sdk
orjson
upstash-redis
redis
beautifulsoup4
